<div class="booking">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>My bookings</h1>
      <div class="row mb-3">
        <% @myactivebookings.each do |booking| %>
          <div class="col-12 col-lg-6 mb-3">
            <div class="card-product">
              <%= cl_image_tag(booking.lego.photo.key, class:"card-image") %>
              <div class="card-product-infos">
                <h2><%= booking.lego.title %></h2>
                <p>Owner: <%= booking.lego.user.email %></p>
                <p>Start: <%= booking.start_date %> End: <%= booking.end_date %></p>
                <p><strong>Total Price: <%= booking.final_price %></strong></p>

              </div>
            </div>
          </div>

        <% end %>
      </div>
      <h1>Bookings for my models</h1>
      <div class="row mb-3">
        <% @mypassivebookings.each do |booking| %>
          <div class="col-12 col-lg-6 mb-3">
            <div class="card-product">
              <%= cl_image_tag(booking.lego.photo.key, class:"card-image") %>
              <div class="card-product-infos">
                <h2><%= booking.lego.title %></h2>
                <p>Renter: <%= booking.user.email %> </p>
                <p>Start: <%= booking.start_date %> End: <%= booking.end_date %></p>
                <p><strong>Total Price: <%= booking.final_price %></strong></p>

              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
