<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <%= link_to "Add a new Lego model", new_lego_path, class: 'banana-button' %>

      <div class="row mb-3">
        <% @legos.reverse_each do |lego| %>
          <div class="col-12 col-md-6 mb-3">
            <div class="card-trip">
              <%# <img class="card-image" src= <%= cl_image_path(lego.photo.key) %> <%#/> %>
              <%= cl_image_tag(lego.photo.key, class:"card-image") %>

              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to lego.title, lego_path(lego) %></h2>
                  <p><%= lego.number_of_parts %> pieces</p>
                </div>
                <h2 class="card-trip-pricing">£99.99</h2>
                <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="addbutton">
      <%= link_to "Add a new Lego model", new_lego_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
