<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <div class="card-trip mb-3">
        <% if @lego.photo.attached? %>
          <%= cl_image_tag(@lego.photo.key, class:"card-image") %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="photo">
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h1><%= @lego.title %></h1>
            <p>Short description here!</p>
          </div>
          <button type="button" class="book-button btn btn-info">
            <%= link_to "Book now", new_lego_booking_path(@lego) %>
          </button>
        </div>
      </div>

        <% if @lego.reviews.present? %>
        <div class="row mb-3">
          <% @lego.reviews.each do |review| %>
            <div class="col-12 col-lg-6 mb-3">
              <div class="card-product">

                  <div class="card-product-infos">
                    <h2><%= review.comment %> </h2>
                    <p> <%= review.rating %> </p>
                  </div>
              </div>
            </div>
          <% end %>
        <% else %>
        <p>There are no reviews for this model yet.</p>
        <% end %>
        </div>
      <!-- reviews doesnt show if user has no booking, look for review maybe?? -->
      <% unless current_user.bookings.where(lego: @lego).empty? %>
        <%= simple_form_for([@lego, @booking, @review]) do |f| %>
          <%= f.input :rating %>
          <%= f.input :comment %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      <div>
        <p><%= link_to 'Delete Model', lego_path(@lego), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-button text-danger' %></small></p>
      </div>
  </div>
</div>
