<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <div class="card-trip mb-3">
        <img class="card-image" src="https://i.pinimg.com/564x/e9/8d/30/e98d3064d7488a8b8c75231fd0bb418c.jpg" />

        <div class="card-trip-infos">
          <div>
            <h1><%= @lego.title %></h1>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
          <%= link_to "Book now", new_lego_booking_path(@lego), class: "btn btn-flat" %>
      <p class="pt-3"><%= link_to "Back to all models", legos_path %></p>
    </div>


    <% @lego.bookings.each do |booking| %>
      <%= booking.review.comment %>
      <%= booking.review.rating %>

    <% end %>
  </div>
</div>
